* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: relative; */
}

body {
    font-family: "Inconsolata", "Arial";
    font-size: 1rem;
    line-height: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    /* padding-top: 5vh; */
    position: relative;

    /* transform: rotate(-5deg); */
    /* transform: scale(200%) translate(500px,500px); */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#controls {
    position: fixed;
    top: 0;
    /* width: 100%; */
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 300;

    padding: 0.5vh 0;
    background: rgba(255, 255, 255, 0.7);

    font-family: "Arial", "Inconsolata";
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#navigator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    transform: rotate(45deg);
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* width: 3rem; */
    /* height: 3rem; */
}

.arrow {
    background: rgba(0, 0, 0, 0.06);
    /* text-align: center; */
    /* vertical-align: middle; */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    color: transparent;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.02);
    transform: 100ms;
}

.arrow:active {
    background: rgba(0, 0, 0, 0.1);
}

.arrow::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 30%;
    border-top: 4px solid #444;
    border-left: 4px solid #444;
}

.arrow:nth-child(2)::after {
    transform: rotate(90deg);
}

.arrow:nth-child(3)::after {
    transform: rotate(270deg);
}

.arrow:nth-child(4)::after {
    transform: rotate(180deg);
}

button, .buttonbox {
    font-family: inherit;
    font-size: inherit;
    min-width: 5rem;
    min-height: 2rem;
    background: #eee;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 7px;
    border-radius: 2px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); */
    z-index: 200;
}

button {
    cursor: pointer;
}

button:hover {
    background: #f3f3f3;
}

button:active {
    background: #e3e3e3;
}

#bg {
    position: fixed;
    /* background: url("bg_pattern_dots.png"); */
    background: url("img/circle.svg") repeat;
    /* background-repeat: repeat; */
    background-size: 20px 20px;
    opacity: 0.15;
    width: 100vw;
    height: 100vh;
    top: -2px;
    left: -2px;
    z-index: -100;
}

.textbox {
    /* background: rgba(0, 0, 0, 0.1); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 80px;
    left: 80px;
    width: 200px;
    height: 200px;
}

.handle {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    top: 300px;
    left: 300px;
    width: 360px;
    height: 280px;
    /* background: rgba(54, 110, 196, 0.2); */
    /* border: 20px solid rgba(54, 110, 196, 0.4); */
    border-width: 20px;
    border-style: solid;
    z-index: 1;
    cursor: move;
}

.colorpicker {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
    z-index: 200;
    /* background: rgba(0, 0, 0, 0.5); */
    border-width: 10px;
    border-style: solid;
    cursor: pointer;
    outline: 2px solid rgba(0, 0, 0, 0.3);
}

textarea {
    /* margin: 10px; */
    z-index: 100;

    position: absolute;
    left: 320px;
    top: 320px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: .5rem .7rem;
    background: rgba(255, 255, 255, 0.7);
    /* background: transparent; */
    border: none;
}

.colormenu {
    width: 80px;
    height: 20px;
    /* background: #eee; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    position: absolute;
    bottom: -20px;
    /* right: 3rem; */
    right: 0;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.coloricon {
    width: 12px;
    height: 12px;
    border-width: 6px;
    margin: 5px 3px;
    border-style: solid;
    outline: 1px solid #222;
    cursor: pointer;
    background: white;
}

.wrap {
    position: absolute;
    bottom: -18px;
    right: 180px;
    /* color: rgba(0, 38, 88, 0.8); */
    color: black;
    /* font-weight: bold; */
    cursor: pointer;
    text-decoration: none;
    z-index: 200;
    letter-spacing: 0.05rem;
}

.delete {
    position: absolute;
    top: -19px;
    right: -19px;
    /* font-weight: bold; */
    text-transform: uppercase;
    cursor: pointer;
    font-size: 40px;
    height: 20px;
    width: 20px;
    /* color: white; */
    /* background: rgba(0, 0, 0, 0.5); */
    background-image: url("img/close.svg");
    background-size: 100% 100%;
    opacity: 0.4;
}

.set-title {
    position: absolute;
    bottom: -18px;
    right: 122px;
    cursor: pointer;
    z-index: 200;
}

.title {
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    opacity: 0.4;
    font-weight: bold;
}

.delete:active {
    opacity: 0.8;
}

.blue {
    border-color: rgba(54, 110, 196, 0.4);
}

.black {
    border-color: rgba(54, 54, 54, 0.35);
}

.yellow {
    border-color: #f7b12fa6;
}

.green {
    border-color: #4697108a;
}

.violet {
    border-color: #bc5bd48a;
}

.red {
    border-color: #d63630b9;
}

.enable-notifications {
    background: #eee;
    border: 1px solid #ddd;
    padding: .4rem 1rem;
    margin: .5rem;
    /* min-height: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* font-family: "Tahoma"; */
    /* font-size: 14.3px; */
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
}

.enable-notifications input {
    margin-right: .5rem;
}

#spinbox-interval {
    max-width: 3rem;
    padding: .2rem 0 .2rem .3rem;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 2px;
}